certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.3
django-bootstrap-datepicker==1.2.3
django-countries==4.6.2
django-datatable==0.3.1
django-formtools==2.0
django-multiselectfield==0.1.8
django-paypal==0.4.1
django-widget-tweaks==1.4.1
gunicorn==19.7.1
idna==2.6
olefile==0.44
Pillow==8.1.1
psycopg2==2.7.3
python-decouple==3.0
pytz==2017.2
pyuca==1.2
requests==2.18.4
six==1.11.0
static3==0.7.0
urllib3==1.22
whitenoise==3.3.0
