{% extends "festivalapp/layout.html" %}

{% load widget_tweaks %}


{% block content %}






<div class="container">
	<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Registrarse</div>

                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form" action="."  method="post">
                                    
                                                {% csrf_token %}
                                  


<!-- Mostrar errores -->
 {% for field in form %}
{% if field.errors %}
    <div class="flash">{{ field.errors }}</div>
{% endif %}
{% endfor %}



 {% for field in form %}

<!-- Text input-->
<div class="form-group">

{% if field.label == "Password" %}
	   <label for="fulltname" class="col-md-3 control-label">Contraseña</label>
{% elif field.label == "Password confirmation" %}
      	<label for="fulltname" class="col-md-3 control-label">Confirmar contraseña</label>
{% else %}
      	<label for="fulltname" class="col-md-3 control-label">{{field.label}}</label>
{% endif %}




  <div class="col-md-9">
 {{field|add_class:"form-control input-md"}}

  </div>
</div>
{% endfor %}


                
 <div class="control-group">
      <!-- Button -->
      <div class="col-sm-offset-1 controls">
        <button class="btn btn-primary">Register</button>
      </div>
    </div>
                                
                            </form>
                         </div>
                    </div>

               
               
                </div>
         </div> 
{% endblock %}
