
{% extends "festivalapp/layout.html" %}
{% load static %}
{% block content %}
    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>Bases</h2>
				<h3>1. Participación</h3>
				<p class="lead">La participación está abierta a todos los productores y realizadores de cine de cualquier nacionalidad o procedencia. Cada autor podrá presentar el número de obras que desee, no habiéndolas presentado antes en este certamen.</p>


				<h3>2. Requisitos</h3>
				<p class="lead">Se admiten todos los géneros (ficción, animación, documental, experimental, inclasificables), año de producción, duración (corto y largometrajes) y formato de realización. El soporte de la obra para su preselección será en DVD o link tipo Vimeo etc.</p>

				<p class="lead">Los formatos de las obras para su proyección podrán ser:</p>

				<p class="lead">-las obras en formato físico de S8mm, 16mm. o DVD o BluRay.</p>

				<p class="lead">-obras en formato digital (.MP4, .MOV , .MPEG, etc...)</p>


				<p class="lead">Las obras participantes deberán estar en versión original con subtítulos en castellano. Se podrá, por motivos justificados, admitirlas con subtítulos en inglés o francés.</p>

				<p class="lead">Los autores se responsabilizarán de realizar los pagos de derechos de autor que generen sus obras.</p>


				<h3>3. Inscripción</h3>
				<p class="lead">Para participar en este certamen, deberán respetarse las siguientes condiciones y proceder de la forma que se señala:</p>

				<p class="lead">- Cada participante deberá completar y enviar antes de la fecha límite el formulario de inscripción que encontrará más adelante en esta misma web: www.cinemistica.com</p>

				<p class="lead">-las obras en formato físico de S8mm, 16mm. o DVD o BluRay.</p>

				<p class="lead">-obras en formato digital (.MP4, .MOV , .MPEG, etc...)</p>


				<p class="lead">Las obras participantes deberán estar en versión original con subtítulos en castellano. Se podrá, por motivos justificados, admitirlas con subtítulos en inglés o francés.</p>

				<p class="lead">Los autores se responsabilizarán de realizar los pagos de derechos de autor que generen sus obras.</p>








	</div>
		
		</div><!--/.container-->
    </section><!--/about-us-->

{% endblock %}

