{% extends "festivalapp/layout.html" %}
{% load static %}
{% block content %}
    <section id="contact-info">
        <div class="center">                
            <h2>Dónde estamos</h2>
            <p class="lead">Cinemística nace en la mítica ciudad de Granada en España, frontera entre lo oriental y lo occidental en la representación interior del mundo. Un hueco del espacio-tiempo, y la memoria de las civilizaciones, entre la lupa y el imán, patria intemporal de poetas y alquimistas de todas las artes y creencias.</p>

            <p class="lead">Podréis encontrarnos en Arte7 Cinemateca, calle Santiago 11, 18009 Granada (España).</p>

		</div>


        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Arte7%20Cinemateca%2C%20calle%20Santiago%2011%2C%2018009%20Granada%20(Espa%C3%B1a).&key=AIzaSyAKkpxm8N4BituAj7nHACtjTUHHNR-Lr5g"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Envíanos un mensaje</h2>
                <p class="lead">Si quieres ponerte en contacto con nosotros, por favor déjanos tu información personal y detalles de tu solicitud.</p>
            </div> 
<div class='container'>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-1'>
            <div class='well'>
                <form>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                <label for='fname'>Nombre</label>
                                <input type='text' name='fname' class='form-control' />
                            </div>
                            <div class='form-group'>
                                <label for='lname'>Apellidos</label>
                                <input type='text' name='lname' class='form-control' />
                            </div>
                            <div class='form-group'>
                                <label for='email'>Email</label>
                                <input type='text' name='email' class='form-control' />
                            </div>
                            <div class='form-group'>
                                <label for='subject'>Asunto</label>
                                <input type='text' name='asunto' class='form-control' />
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            <div class='form-group'>
                                <label for='message'>Mensaje</label>
                                <textarea class='form-control' name='message' rows='10'></textarea>
                            </div>
                            <div class='text-right'>
                                <input type='submit' class='btn btn-primary' value='Enviar' />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </section><!--/#contact-page-->

{% endblock %}


