{% extends "festivalapp/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    <section id="contact-info">
        <div class="center">                
            <h2>Dónde estamos</h2>
            <p class="lead">Cinemística nace en la mítica ciudad de Granada en España, frontera entre lo oriental y lo occidental en la representación interior del mundo. Un hueco del espacio-tiempo, y la memoria de las civilizaciones, entre la lupa y el imán, patria intemporal de poetas y alquimistas de todas las artes y creencias.</p>

            <p class="lead">Podréis encontrarnos en Arte7 Cinemateca, calle Santiago 11, 18009 Granada (España).</p>

		</div>


        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Arte7%20Cinemateca%2C%20calle%20Santiago%2011%2C%2018009%20Granada%20(Espa%C3%B1a).&key=AIzaSyAKkpxm8N4BituAj7nHACtjTUHHNR-Lr5g"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

    <section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>Envíanos un mensaje</h2>
                <p class="lead">Si quieres ponerte en contacto con nosotros, por favor déjanos tu información personal y detalles de tu solicitud.</p>
            </div> 
<div class='container'>
    <div class='row'>
        <div class='col-sm-10 col-sm-offset-1'>
            <div class='well'>

                <form role="form"  method="post" id="contactform">
                      {% csrf_token %}
<!-- Mostrar errores -->
 {% for field in form %}
{% if field.errors %}
    <div class="flash" id="flash">{{ field.errors }}</div>
{% endif %}
{% endfor %}

                    
         <div class='row'>
             <div class='col-sm-4'>      
                    {% for field in form %}
                        {% if field.label != "Mensaje" %}
                            <div class="form-group">
                                <label for="fulltname" class="col-md-3 control-label">{{field.label}}</label>
                                {{field|add_class:"form-control input-md"}}
                            </div>
                        {% endif %}
                    {% endfor %}
             </div>


            <div class='col-sm-8'>
                    {% for field in form %}
                        {% if field.label == "Mensaje" %}
                            <div class='form-group'>
                                <label for="fulltname" class="col-md-3 control-label">{{field.label}}</label>
                                {{field|add_class:"form-control input-md"}}
                              </div>
                         {% endif %}
                    {% endfor %}
                     <div class='text-right'>
                         <input type='submit' class='btn btn-primary' value='Enviar' />
                     </div>
             </div>


            </div>

        </form>







            </div>
        </div>
    </div>
</div>
    </section><!--/#contact-page-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
$('html, body').scrollTop($("#flash").offset().top);
});
</script>

{% endblock %}


