<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>
	
	<!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico'%}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png'%}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png'%}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png'%}">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Blog Single</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li> 
                        <li><a href="contact-us.html">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" class="no-margin" data-ride="carousel">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url({%static 'images/slider/img1.jpg'%})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Hoy es siempre todavía</h1>
                                    <h class="animation animated-item-3">Antonio Machado
</h2>
                                </div>
                            </div>

<!--/header
                            <div class="col-sm-6 hidden-xs animation animated-item-4">


                                <div class="slider-img">
                                    <img src="{% static 'images/slider/img1.png' %}" class="img-responsive">
                                </div>
                            </div>
-->

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({% static 'images/slider/bg2.jpg'%})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lo extraordinario está en las entrañas de lo ordinario</h1>
                                    <h2 class="animation animated-item-2">Val del Omar</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({% static 'images/slider/bg3.jpg'%})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Entréme donde no supe y quedéme no sabiendo, toda ciencia transcendiendo</h1>
                                    <h2 class="animation animated-item-2">San Juan de la Cruz</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Programa 2017</h2>
                <p class="lead">Las fechas del IV Festival Cinemística serán del 2 de noviembre al 1 de diciembre del 2017. El tema de la sección especial de este año es <span id="hl">"2017 CUMPLEAÑOS DEL AGUA".</span></p>

                <p class="lead">La sede principal del festival se sitúa en Granada (España), con antenas en las ciudades españolas de Córdoba, Málaga y Madrid. La ciudad invitada en 2017 CUMPLEAÑOS DEL AGUA es Iquitos (Perú), cuya etimología amazónica significa "Construida sobre el agua".</p>

                <p class="lead">El programa se encuentra actualmente en construcción, la fecha límite de admisión de films es el <span id="hl1">31 de agosto del 2017 </span> (ver <a href="#" id="hllink">bases</a> y <a href="#" id="hllink">ficha de inscripción)</a></p></div>
            </div>
            </div>
        </div><!--/.container-->
    </section><!--/#feature-->

 

    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Filosofía <small>Lo que nos mueve</small></h2>

                <p class="lead">Un certamen destinado al cine trascendental, en sus diversas de acepciones, incluidas las filosóficas, antropológicas, religiosas, psicológicas, científicas, y por supuesto el cine poético.</p>

                <p class="lead">Porque lo espiritual en el hombre y el mundo, aunque sentido, en ocasiones puede ser indecible, y en esto el arte cinematográfico tiene ciertas ventajas, y una gran responsabilidad.</p>

            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">UN REFUGIO</h3>
                            <p>Un refugio a nivel internacional para las obras cinematográficas que pretendan, argumental o técnicamente, el acercamiento al gran misterio de la representación del mundo, en el arte y en el hombre. Sin dogmas, bajo cualquier perspectiva individual o colectiva, desde la fe pero también desde el agnosticismo, la espiritualidad atea y el cientificismo.</p>
                        </div>
                    </div>
                </div>



  <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">LA FENOMENOLOGÍA</h3>
                            <p>Lo que aparece y desaparece, la emergencia de topologías, materiales o conscientes, y su invisibilidad o extinción ulterior. Los alrededores secuenciales del vacío, de la materia y del tiempo. Los huecos del discurso, tan elocuentes, cada uno los entiende a su manera. Ausencia y milagro: La Mística como un posible habitar en común.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">EL TODAVÍA</h3>
                            <p>Cinematografías de la impermanencia, del todavía, del cine "amateur" (del verbo amar), directores caracterizados no sólo por lo que muestran y por cómo lo muestran en la pantalla, sino por lo deciden no mostrar, evitar (técnica y argumentalmente), atendiendo a la inacción, a lo inenarrable, en experiencias artísticas tan milagrosas como cercanas.</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">UNA POÉTICA DE LO CONTEMPLATIVO</h3>
                            <p>Las miradas de los cineastas, en toda su diversidad socio-cultural, acogiéndose con interés cualquier film fruto del descubrimiento personal, de la investigación o experimentación, de la inspiración y del trabajo, de la revelación e introspección de sus autores. La cotidianeidad, la estasis y la disparidad como estructuras para crear profundidad en el tratamiento fílmico.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">EL ASCETISMO</h3>
                            <p>La mística y el ascetismo en la producción cinematográfica representan posiblemente un estado más absoluto que otros, pues siempre se podrá hacer un cine con mayor presupuesto y con creciente complejidad técnica, pero a veces no se puede hacer un film más pobre ni humilde en lo material, y sin embargo, esa es la cuestión, sencillo y universal a la vez.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">UN SIN TIEMPO</h3>
                            <p>Cinemística como espacio-tiempo abierto, con características poco restrictivas de participación, dejando a los autores gran libertad en sus propuestas: Se aceptan todos los formatos, duraciones, nacionalidad, año de producción, etc.</p>
                        </div>
                    </div>
                </div>

              

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->





    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Patrocinadores</h2>
				<small>Patrocinador principal</small>
				<img src="{% static 'images/partners/hamam.jpg'%}" alt="Patrocinador principal" class="img-responsive center-block" />
            </div>    

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{% static 'images/partners/partner1.png'%}" class="img-responsive center-block"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{% static 'images/partners/partner2.png'%}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{% static 'images/partners/partner3.png'%}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{% static 'images/partners/partner4.png'%}"></a></li>
                </ul>
            </div>        
        </div><!--/.container-->
    </section><!--/#partner-->



    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
    <script src="{% static 'js/jquery.isotope.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/wow.min.js'%}"></script>


</body>
</html>
