{% extends "festivalapp/layout.html" %}
{% load static %}
{% block content %}

    <section id="main-slider" class="no-margin" data-ride="carousel">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url({%static 'images/slider/img1.jpg'%})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Hoy es siempre todavía</h1>
                                    <h class="animation animated-item-3">Antonio Machado
</h2>
                                </div>
                            </div>

<!--/header
                            <div class="col-sm-6 hidden-xs animation animated-item-4">


                                <div class="slider-img">
                                    <img src="{% static 'images/slider/img1.png' %}" class="img-responsive">
                                </div>
                            </div>
-->

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({% static 'images/slider/bg2.jpg'%})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lo extraordinario está en las entrañas de lo ordinario</h1>
                                    <h2 class="animation animated-item-2">Val del Omar</h2>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({% static 'images/slider/bg3.jpg'%})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-8">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Entréme donde no supe y quedéme no sabiendo, toda ciencia transcendiendo</h1>
                                    <h2 class="animation animated-item-2">San Juan de la Cruz</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">


           <div class="wow fadeInDown">
                <h2>Programa {{datos.anio}}</h2>

<div class="tiva-event-calendar-wrapper">
		<div class="tiva-event-calendar full">
            <div class="n-events-calendar-bar" style="position: relative;">
                  <div class="n-tiva-event-list-full n-tiva-event-list" style="display: block;">

        <div class="event-item">
            <div class="event-item-left pull-left">
                <div class="event-image link" onclick="n_showEventDetail(4, 'full', 0, 0, 0)"><img src="http://tivatheme.com/wordpress/wp-content/plugins/tiva-events-calendar/images/event5.jpg" alt="Willie Nelson &amp; Family - Saturday"></div>
             </div>
             <div class="event-item-right pull-left">
                 <div class="event-name link" onclick="n_showEventDetail(4, 'full', 0, 0, 0)">Willie Nelson &amp; Family - Saturday</div>
                 <div class="event-date"><i class="fa fa-calendar-o"></i>Tuesday, October 24, 2017</div>
                 <div class="event-time"><i class="fa fa-clock-o"></i>5:30 pm</div>
                 <div class="event-desc">Danny Zelisko Presents 
Willie Nelson &amp; Family - Two Great Shows!

Saturday – October 15, 2016
Showtime - 8:00 PM
Theatre Doors Open - 7:00 PM
Club Doors Open ...</div>
              </div>
         </div>


<div class="cleardiv"></div>

        <div class="event-item">
            <div class="event-item-left pull-left">
                <div class="event-image link" onclick="n_showEventDetail(4, 'full', 0, 0, 0)"><img src="http://tivatheme.com/wordpress/wp-content/plugins/tiva-events-calendar/images/event5.jpg" alt="Willie Nelson &amp; Family - Saturday"></div>
             </div>
             <div class="event-item-right pull-left">
                 <div class="event-name link" onclick="n_showEventDetail(4, 'full', 0, 0, 0)">Willie Nelson &amp; Family - Saturday</div>
                 <div class="event-date"><i class="fa fa-calendar-o"></i>Tuesday, October 24, 2017</div>
                 <div class="event-time"><i class="fa fa-clock-o"></i>5:30 pm</div>
                 <div class="event-desc">Danny Zelisko Presents 
Willie Nelson &amp; Family - Two Great Shows!

Saturday – October 15, 2016
Showtime - 8:00 PM
Theatre Doors Open - 7:00 PM
Club Doors Open ...</div>
              </div>
         </div>

<div class="cleardiv"></div></div>





	</div>
                <p class="lead">Las fechas del IV Festival Cinemística serán del <span id="hl1">{{datos.fechinicio}} </span> al <span id="hl1">{{datos.fechinscrip}} </span>.El tema de la sección especial de este año es <span  id="hl">{{datos.titulo}}</span></p>

                <p class="lead">{{datos.descripcion}}</p>

                <p class="lead">El programa se encuentra actualmente en construcción, la fecha límite de admisión de films es el <span id="hl1">{{datos.fechinscrip}} </span> (ver <a href="#" id="hllink">bases</a> y <a href="#" id="hllink">ficha de inscripción)</a></p></div>
            </div>
            </div>
        </div><!--/.container-->
    </section><!--/#feature-->










    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Filosofía <small>Lo que nos mueve</small></h2>

                <p class="lead">Un certamen destinado al cine trascendental, en sus diversas de acepciones, incluidas las filosóficas, antropológicas, religiosas, psicológicas, científicas, y por supuesto el cine poético.</p>

                <p class="lead">Porque lo espiritual en el hombre y el mundo, aunque sentido, en ocasiones puede ser indecible, y en esto el arte cinematográfico tiene ciertas ventajas, y una gran responsabilidad.</p>

            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">UN REFUGIO</h3>
                            <p>Un refugio a nivel internacional para las obras cinematográficas que pretendan, argumental o técnicamente, el acercamiento al gran misterio de la representación del mundo, en el arte y en el hombre. Sin dogmas, bajo cualquier perspectiva individual o colectiva, desde la fe pero también desde el agnosticismo, la espiritualidad atea y el cientificismo.</p>
                        </div>
                    </div>
                </div>



  <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">LA FENOMENOLOGÍA</h3>
                            <p>Lo que aparece y desaparece, la emergencia de topologías, materiales o conscientes, y su invisibilidad o extinción ulterior. Los alrededores secuenciales del vacío, de la materia y del tiempo. Los huecos del discurso, tan elocuentes, cada uno los entiende a su manera. Ausencia y milagro: La Mística como un posible habitar en común.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">EL TODAVÍA</h3>
                            <p>Cinematografías de la impermanencia, del todavía, del cine "amateur" (del verbo amar), directores caracterizados no sólo por lo que muestran y por cómo lo muestran en la pantalla, sino por lo deciden no mostrar, evitar (técnica y argumentalmente), atendiendo a la inacción, a lo inenarrable, en experiencias artísticas tan milagrosas como cercanas.</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">UNA POÉTICA DE LO CONTEMPLATIVO</h3>
                            <p>Las miradas de los cineastas, en toda su diversidad socio-cultural, acogiéndose con interés cualquier film fruto del descubrimiento personal, de la investigación o experimentación, de la inspiración y del trabajo, de la revelación e introspección de sus autores. La cotidianeidad, la estasis y la disparidad como estructuras para crear profundidad en el tratamiento fílmico.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">EL ASCETISMO</h3>
                            <p>La mística y el ascetismo en la producción cinematográfica representan posiblemente un estado más absoluto que otros, pues siempre se podrá hacer un cine con mayor presupuesto y con creciente complejidad técnica, pero a veces no se puede hacer un film más pobre ni humilde en lo material, y sin embargo, esa es la cuestión, sencillo y universal a la vez.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 id="filh3" class="media-heading">UN SIN TIEMPO</h3>
                            <p>Cinemística como espacio-tiempo abierto, con características poco restrictivas de participación, dejando a los autores gran libertad en sus propuestas: Se aceptan todos los formatos, duraciones, nacionalidad, año de producción, etc.</p>
                        </div>
                    </div>
                </div>

              

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->





    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Patrocinadores</h2>
				<small>Patrocinador principal</small>
				<img src="{% static 'images/partners/hamam.jpg'%}" alt="Patrocinador principal" class="img-responsive center-block" />
            </div>    


<div class="row">
 <div class="col-md-2 col-md-offset-1">
   <img class="img-responsive" src="{% static 'images/partners/partner1.png'%}" />
 </div>
 <div class="col-md-2">
   <img class="img-responsive" src="{% static 'images/partners/partner2.png'%}" />
 </div>

 <div class="col-md-2">
   <img class="img-responsive" src="{% static 'images/partners/partner3.png'%}" />
 </div>
 <div class="col-md-2">
   <img class="img-responsive" src="{% static 'images/partners/partner4.png'%}" />
 </div>
 <div class="col-md-2">
   <img class="img-responsive" src="{% static 'images/partners/partner5.png'%}" />
 </div>
</div>

        </div><!--/.container-->
    </section><!--/#partner-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
	src="https://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>




<script type="text/javascript">
	$(document).ready(function() {
	$(".event-desc").shorten({
	"showChars" : 100,
	"moreText"	: "Más",
	"lessText"	: "Menos",
    });

	
	});
</script>

{% endblock %}



