
{% extends "festivalapp/layout.html" %}
{% load static %}
{% block content %}
    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>Quiénes somos</h2>
				<p class="lead">Somos un pequeño equipo compuesto por Elena Gomez García (historiadora del arte), Eva Bellón (diseñadora), Miguel Ángel Sáez (ingeniero de telecomunicaciones), Marc Sango (técnico audiovisual), José María González (fotógrafo) y Manuel Polls Pelaz (director de Arte7 Cinemateca).</p>

				<p class="lead">Colaboran en la comunicación y promoción otros miembros, alumnos en prácticas de la UGR y simpatizantes de la <a href="http://www.guadalcine.com/" id="hllink">Asociación Guadalcine.</a></p>

<div class="row">
 <div class="col-md-10">
 </div>
 <div class="col-md-2">
   <img class="img-responsive" src="{% static 'images/guadalcine_logo.jpg' %}" />
 </div>
</div>

</div>
			<div class="center wow fadeInDown">
				<h2>Manuel Polls Pelaz</h2>
				<p class="lead">La fundación y dirección del certamen Cinemística recae en Manuel Polls Pelaz, que se autocalifica de "<a href="https://es.wikipedia.org/wiki/Manuel_Polls_Pelaz" id="hllink">cinehasta</a>" (en sentido impermanente: un peregrino de la cinematografía), titular de la productora <a href="http://www.2angeles.tv/" id="hllink">2Angeles Films</a>. Manuel ya fundó en el pasado y dirigió en Barcelona (1993-1996) el festival L'Alternativa, habiendo presidido Fundación La Jungla organizadora del Mercado de Cine Europeo de Barcelona (1997-1999), y dirigido en el mismo periodo el festival NET (Nuevos Talentos Europeos), incluido en el célebre Festival Grec de verano de Barcelona.</p>

				<p class="lead">Establecido en Granada desde el año 2002, funda y preside desde entonces hasta la actualidad <a href="http://www.guadalcine.com/" id="hllink">Asociación Guadalcine</a>, y dirige el cine-club itinerante "La Cueva del Ojo" que programa regularmente sesiones en varias facultades de la Universidad de Granada, Cádiz, Sevilla, Córdoba y Málaga.</p>


				<p class="lead">Desde el verano del 2013, Manuel Polls asume la dirección de <a href="http://www.arte7cinemateca.com/" id="hllink">Arte7 Cinemateca de Granada</a>, entidad organizadora del certamen Cinemística.</p>
			</div>

		
		</div><!--/.container-->
    </section><!--/about-us-->

{% endblock %}


